<footer class="has-text-centered m-2">
    <p>© 2023 Bought to you<span class="has-text-danger"></span> by:
      <ul>
      <li><a href="https://github.com/Reggiejr44?tab=repositories" target="_blank">Reginald Prince</a></li>
      <li><a href="https://github.com/colint771" target="_blank">Colin Taliaferro</a></li>
      <li><a href="https://github.com/OGBASH03" target="_blank">Sebastian Abreu</a></li>
      </ul>
  </footer>