
     <div class="container is-fluid">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div>
            <h1 class="whitetxt p-4 is-size-1">Your Library of Destinations<i class="fa-solid fa-map-location-dot"></i></h1>
            <div>
              <div class="logo whitetxt" id="home">
              <p id="small_home">Welcome to</p>
              <br>
              <p id="big_home">Earth-X</p>
              </div>
            </div>

          </div>
        </div>
      </div>
            <h3 class="has-text-centered">
              Come Explore The World With Us!
            </h3>

    </section>
    </div>

    
