<footer class="has-text-centered m-2">
    <p>© 2023 Made with <span class="has-text-danger">❤</span> by:
      <ul>
      <li><a href="https://github.com/DominiqueGarrett" target="_blank">Reginald Prince</a></li>
      <li><a href="https://github.com/Amandagl1" target="_blank">Colin Taliaferro</a></li>
      <li><a href="https://github.com/bperez011" target="_blank">Sebastian Abreu</a></li>
      </ul>
  </footer>